MYSQL_ADDRESS=127.0.0.1:3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_DATABASE=reservation_system
MYSQL_CONNECTION_LIMIT=10

STYLISTS_JSON=[{"id":1,"name":"店长","workStatus":"working","username":"tony","password":"change-me"}]

EMAY_APPID=
EMAY_SECRETKEY=
EMAY_TEMPLATE_ID_BOOKING=
EMAY_TEMPLATE_ID_CANCEL=
